.med-pin-wrapper {
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  min-width: 100px;
}
.med-pin-wrapper.layoutLeft {
  display: inline-flex;
}
.med-pin-wrapper.layoutLeft /deep/ .ant-card-head {
  vertical-align: top;
  padding: 16px 4px;
  writing-mode: vertical-lr;
}
.med-pin-wrapper.layoutLeft /deep/ .ant-card-head .ant-card-head-title {
  text-align: center;
  letter-spacing: 4px;
}
.med-pin-wrapper.layoutBottom {
  position: relative;
}
.med-pin-wrapper.layoutBottom /deep/ .ant-card-head {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f3f3f3;
}
.med-pin-wrapper.layoutBottom /deep/ .ant-card-head .ant-card-head-title {
  color: inherit;
  text-align: center;
}
.med-pin-wrapper.layoutBottom /deep/ .ant-card-body {
  margin-bottom: 32px;
}
.med-pin-wrapper.layoutBlank /deep/ .ant-card-body {
  position: relative;
  padding: 6px 80px 12px 20px;
}
.med-pin-wrapper.layoutBlank /deep/ .ant-card-body p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  color: #1a7fc8;
}
.med-pin-wrapper.layoutBlank /deep/ .ant-card-body .badge {
  position: absolute;
  right: -1px;
  top: 0;
  font-size: 12px;
  background: red;
  padding: 3px 12px;
  z-index: 1;
}
.med-pin-wrapper /deep/ .ant-card-head {
  min-height: 32px;
  background: #eaf7ff;
}
.med-pin-wrapper /deep/ .ant-card-head .ant-card-head-title {
  padding: 4px 0;
  color: inherit;
  font-size: 14px;
  word-break: break-all;
}
.med-pin-wrapper /deep/ .ant-card-head .ant-card-extra {
  padding: 4px 0;
  color: inherit;
  font-size: 14px;
  word-break: break-all;
}
.med-pin-wrapper /deep/ .ant-card-body {
  text-align: center;
  padding: 0 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.med-pin-wrapper /deep/ .ant-card-body > div {
  display: inline-block;
  word-break: break-all;
}
