@font-face {
  font-family: "anticon"; /* Project id 2822858 */
  src: url('iconfont.woff2?t=1635316840823') format('woff2'),
       url('iconfont.woff?t=1635316840823') format('woff'),
       url('iconfont.ttf?t=1635316840823') format('truetype'),
       url('iconfont.svg?t=1635316840823#anticon') format('svg');
}

.anticon {
  font-family: "anticon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon-tag_level-2:before {
  content: "\e685";
}

.anticon-tag_level-3:before {
  content: "\e686";
}

.anticon-tag_level-4:before {
  content: "\e687";
}

.anticon-tag_level-1:before {
  content: "\e684";
}

.anticon-icon_daoruhuanzhe:before {
  content: "\e679";
}

.anticon-icon_zhuyi:before {
  content: "\e67a";
}

.anticon-icon_rili:before {
  content: "\e67b";
}

.anticon-icon_dayin:before {
  content: "\e67c";
}

.anticon-icon_daochuexcel:before {
  content: "\e67d";
}

.anticon-icon_zhongzhi:before {
  content: "\e67e";
}

.anticon-icon_shanchu:before {
  content: "\e67f";
}

.anticon-icon_qingkong:before {
  content: "\e680";
}

.anticon-icon_shijian:before {
  content: "\e681";
}

.anticon-icon_jiechuguanlian:before {
  content: "\e682";
}

.anticon-icon_tishi:before {
  content: "\e683";
}

.anticon-icon_jiankangka:before {
  content: "\e676";
}

.anticon-icon_shenfenzheng:before {
  content: "\e677";
}

.anticon-icon_jiuzhenka:before {
  content: "\e678";
}

.anticon-icon_buluxinxi:before {
  content: "\e673";
}

.anticon-icon_saomiaocaiji:before {
  content: "\e674";
}

.anticon-icon_yuanqianjijiu:before {
  content: "\e675";
}

.anticon-icon_sousuo:before {
  content: "\e671";
}

.anticon-icon_huoqu:before {
  content: "\e672";
}

.anticon-icon_querenfenzhen:before {
  content: "\e66f";
}

.anticon-icon_gouxuan:before {
  content: "\e670";
}

.anticon-icon_yujianfenzhen:before {
  content: "\e66d";
}

.anticon-icon_fenzhenliebiao:before {
  content: "\e66e";
}

.anticon-logo_docare:before {
  content: "\e66b";
}

.anticon-logo_mdsd:before {
  content: "\e66c";
}

