.med-form-wrapper {
  .ant-card-head-wrapper {
    flex-wrap: wrap;
  }
  .ant-form-item {
    .ant-form-item-control-wrapper {
      flex: 1;
      display: inline-block;
      vertical-align: middle;
    }
    .ant-form-item-control {
      min-width: 200px;
      min-height: 32px;
      .ant-form-item-children,
      .ant-input-number,
      .ant-calendar-picker {
        max-width: 300px;
        width: 100%;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
  .search-btn-wrapper {
    min-width: 300px;
    text-align: right;
  }
  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin: 0 20px;
    }
  }
}