.med-form-wrapper /deep/ .ant-card-head-wrapper {
  flex-wrap: wrap;
}
.med-form-wrapper /deep/ .ant-card-head-wrapper .ant-card-extra {
  display: flex;
  align-items: center;
}
.med-form-wrapper /deep/ .ant-card-body {
  padding: 0;
}
.med-form-wrapper .ant-form-item .ant-form-item-control-wrapper {
  flex: 1;
  display: inline-block;
  vertical-align: middle;
}
.med-form-wrapper .ant-form-item .ant-form-item-control {
  min-width: 200px;
  min-height: 32px;
}
.med-form-wrapper .ant-form-item .ant-form-item-control .ant-form-item-children,
.med-form-wrapper .ant-form-item .ant-form-item-control .ant-input-number,
.med-form-wrapper .ant-form-item .ant-form-item-control .ant-calendar-picker {
  max-width: 300px;
  width: 100%;
}
.med-form-wrapper .table-page-search-submitButtons {
  display: block;
  margin-bottom: 24px;
  white-space: nowrap;
}
.med-form-wrapper .search-btn-wrapper {
  line-height: 40px;
  min-width: 300px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.med-form-wrapper .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.med-form-wrapper .btn-wrapper .btns {
  display: flex;
}
.med-form-wrapper .btn-wrapper button {
  margin: 0 20px;
}
