.med-table-wrapper .flex-c-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.med-table-wrapper .flex-c-e {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.med-table-wrapper .ant-table-column-has-actions {
  white-space: nowrap;
}
.med-table-wrapper .ant-alert-info {
  line-height: 2;
}
.med-table-wrapper .ant-alert-info .ant-alert-icon {
  top: 15.5px;
}
.med-table-wrapper .highlight {
  background-color: #ffc069;
  padding: 0px;
}
.med-table-wrapper .toolbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.med-table-wrapper .toolbar__select {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}
.med-table-wrapper .toolbar__select__btn {
  cursor: pointer;
  display: block;
  text-align: center;
  border: 1px dashed;
  border-radius: 4px;
  padding: 0 1em;
  line-height: 1.5em;
}
.med-table-wrapper .toolbar__select__raw {
  top: 30px;
  min-width: 180px;
  height: 0;
  overflow: hidden;
  position: absolute;
  display: block;
}
.med-table-wrapper .toolbar__select__raw .ant-select-selection {
  height: 1em;
  overflow: hidden;
}
.med-table .expand-icon {
  margin-right: 0.5em;
}
.med-table__dropdown {
  display: block;
  padding: 10px !important;
  width: 100%;
  text-align: left;
}
.med-table__dropdown .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-top: 10px;
}
.med-table__dropdown .ant-checkbox-wrapper {
  display: block;
}
