.med-button-wrapper {
  /deep/ i.anticon {
    margin-right: 3px;
  }

  /deep/ .icon-slot {
    display: inline-block;
    max-width: 18px;
    margin-right: 5px;
    img {
      display: block;
      width: 100%;
    }
  }
  &.ant-btn-round.ant-btn-lg {
    /deep/ .icon-slot {
      max-width: 22px;
    }
  }
  &.ant-btn-round.ant-btn-sm {
    /deep/ .icon-slot {
      max-width: 14px;
    }
  }
}
